USE [aile]
GO
/****** Object:  Table [aile].[aile]    Script Date: 18.11.2025 12:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [aile].[aile](
	[AileId] [int] IDENTITY(1,1) NOT NULL,
	[TC] [bigint] NOT NULL,
	[AileAd] [nvarchar](45) NOT NULL,
	[Telefon] [nvarchar](45) NOT NULL,
	[Adres] [nvarchar](45) NOT NULL,
	[KayitTarihi] [date] NOT NULL,
	[Guncelleme] [date] NOT NULL,
	[KurumId] [int] NULL,
	[bagis_id] [int] NULL,
 CONSTRAINT [PK_aile_AileId] PRIMARY KEY CLUSTERED 
(
	[AileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [aile].[ailefert]    Script Date: 18.11.2025 12:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [aile].[ailefert](
	[key_Id] [int] IDENTITY(1,1) NOT NULL,
	[key_AileId] [int] NOT NULL,
	[TC] [bigint] NOT NULL,
	[AdSoyad] [nvarchar](45) NOT NULL,
	[Kayıt] [date] NOT NULL,
	[Guncelleme] [date] NOT NULL,
 CONSTRAINT [PK_ailefert_key_Id] PRIMARY KEY CLUSTERED 
(
	[key_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [aile].[bagisturu]    Script Date: 18.11.2025 12:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [aile].[bagisturu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BagisTuru1] [nvarchar](50) NOT NULL,
	[Aciklama] [nvarchar](200) NOT NULL,
	[Durum] [nvarchar](20) NULL,
	[Miktar] [decimal](18, 2) NULL,
 CONSTRAINT [PK_bagisturu_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [aile].[bagisyapan_kurum]    Script Date: 18.11.2025 12:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [aile].[bagisyapan_kurum](
	[KurumId] [int] IDENTITY(1,1) NOT NULL,
	[KurumAdi] [nvarchar](100) NOT NULL,
	[YetkiliAdSoyad] [nvarchar](100) NOT NULL,
	[Telefon] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Adres] [nvarchar](255) NULL,
	[KayitTarihi] [date] NOT NULL,
	[Guncelleme] [date] NOT NULL,
 CONSTRAINT [PK_bagisyapan_kurum_KurumId] PRIMARY KEY CLUSTERED 
(
	[KurumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [aile].[kullanici]    Script Date: 18.11.2025 12:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [aile].[kullanici](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](45) NOT NULL,
	[Sifre] [nvarchar](max) NOT NULL,
	[KullaniciRol] [nvarchar](45) NOT NULL,
 CONSTRAINT [PK_kullanici_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [aile].[aile] ON 

INSERT [aile].[aile] ([AileId], [TC], [AileAd], [Telefon], [Adres], [KayitTarihi], [Guncelleme], [KurumId], [bagis_id]) VALUES (2, 14700059084, N'Aydın', N'05421690806', N'Ankara/Yenimah', CAST(N'2025-11-17' AS Date), CAST(N'2025-11-17' AS Date), NULL, NULL)
INSERT [aile].[aile] ([AileId], [TC], [AileAd], [Telefon], [Adres], [KayitTarihi], [Guncelleme], [KurumId], [bagis_id]) VALUES (3, 1470000000, N'kaan', N'1111111111111', N'ankara', CAST(N'2025-11-17' AS Date), CAST(N'2025-11-17' AS Date), NULL, NULL)
SET IDENTITY_INSERT [aile].[aile] OFF
GO
SET IDENTITY_INSERT [aile].[ailefert] ON 

INSERT [aile].[ailefert] ([key_Id], [key_AileId], [TC], [AdSoyad], [Kayıt], [Guncelleme]) VALUES (2, 2, 14700059085, N'Niyaz', CAST(N'2025-11-17' AS Date), CAST(N'2025-11-17' AS Date))
INSERT [aile].[ailefert] ([key_Id], [key_AileId], [TC], [AdSoyad], [Kayıt], [Guncelleme]) VALUES (3, 2, 14700059086, N'Eren', CAST(N'2025-11-17' AS Date), CAST(N'2025-11-17' AS Date))
INSERT [aile].[ailefert] ([key_Id], [key_AileId], [TC], [AdSoyad], [Kayıt], [Guncelleme]) VALUES (4, 3, 111111111111111, N'mustafa', CAST(N'2025-11-17' AS Date), CAST(N'2025-11-17' AS Date))
SET IDENTITY_INSERT [aile].[ailefert] OFF
GO
SET IDENTITY_INSERT [aile].[bagisturu] ON 

INSERT [aile].[bagisturu] ([Id], [BagisTuru1], [Aciklama], [Durum], [Miktar]) VALUES (2, N'Sadaka', N'Kırktasiye', N'YAPILDI', CAST(30.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [aile].[bagisturu] OFF
GO
SET IDENTITY_INSERT [aile].[bagisyapan_kurum] ON 

INSERT [aile].[bagisyapan_kurum] ([KurumId], [KurumAdi], [YetkiliAdSoyad], [Telefon], [Email], [Adres], [KayitTarihi], [Guncelleme]) VALUES (1, N'abc', N'abc', N'1111', N'abc', N'aaa', CAST(N'2025-11-18' AS Date), CAST(N'2025-11-18' AS Date))
SET IDENTITY_INSERT [aile].[bagisyapan_kurum] OFF
GO
SET IDENTITY_INSERT [aile].[kullanici] ON 

INSERT [aile].[kullanici] ([Id], [KullaniciAdi], [Sifre], [KullaniciRol]) VALUES (1, N'halilhan', N'$2a$12$.ZKnZW8J8V3FxiYCzvZRZOw3jO45AEkhVThwTYP4yEjicr7WlAkUO', N'admin')
INSERT [aile].[kullanici] ([Id], [KullaniciAdi], [Sifre], [KullaniciRol]) VALUES (2, N'niyaz', N'$2a$11$SAZU3HDIf1a.b5uAL1eQn..sFRe9LM4FjlR87VKsXimFkxfZgaQ9C', N'reader')
SET IDENTITY_INSERT [aile].[kullanici] OFF
GO
ALTER TABLE [aile].[aile]  WITH CHECK ADD  CONSTRAINT [FK_aile_bagisyapan_kurum_KurumId] FOREIGN KEY([KurumId])
REFERENCES [aile].[bagisyapan_kurum] ([KurumId])
GO
ALTER TABLE [aile].[aile] CHECK CONSTRAINT [FK_aile_bagisyapan_kurum_KurumId]
GO
ALTER TABLE [aile].[ailefert]  WITH CHECK ADD  CONSTRAINT [FK_ailefert_aile_AileId] FOREIGN KEY([key_AileId])
REFERENCES [aile].[aile] ([AileId])
GO
ALTER TABLE [aile].[ailefert] CHECK CONSTRAINT [FK_ailefert_aile_AileId]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'aile.aile' , @level0type=N'SCHEMA',@level0name=N'aile', @level1type=N'TABLE',@level1name=N'aile'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'aile.ailefert' , @level0type=N'SCHEMA',@level0name=N'aile', @level1type=N'TABLE',@level1name=N'ailefert'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'aile.bagisturu' , @level0type=N'SCHEMA',@level0name=N'aile', @level1type=N'TABLE',@level1name=N'bagisturu'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'aile.bagisyapan_kurum' , @level0type=N'SCHEMA',@level0name=N'aile', @level1type=N'TABLE',@level1name=N'bagisyapan_kurum'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'aile.kullanici' , @level0type=N'SCHEMA',@level0name=N'aile', @level1type=N'TABLE',@level1name=N'kullanici'
GO
